node_modules/
yarn.lock

libraries/services/firebase-auth/coverage
libraries/services/firebase-auth/node_modules
libraries/services/firebase-auth/yarn-error.log
libraries/services/firebase-auth/dist

libraries/helpers/coverage
libraries/helpers/node_modules
libraries/helpers/yarn-error.log
libraries/helpers/dist

libraries/components/main/node_modules
libraries/components/main/yarn.lock
libraries/components/main/.storybook


