node_modules/
yarn.lock

libraries/services/firebase-auth/coverage
libraries/services/firebase-auth/node_modules
libraries/services/firebase-auth/yarn-error.log
libraries/services/firebase-auth/dist

libraries/helpers/coverage
libraries/helpers/node_modules
libraries/helpers/yarn-error.log
libraries/helpers/dist

libraries/components/main/node_modules
libraries/components/main/yarn.lock
libraries/components/main/.storybook

# Logs
libraries/components/components-main/logs
libraries/components/components-main/*.log
libraries/components/components-main/npm-debug.log*
libraries/components/components-main/yarn-debug.log*
libraries/components/components-main/yarn-error.log*
libraries/components/components-main/pnpm-debug.log*
libraries/components/components-main/lerna-debug.log*
libraries/components/components-main/dist
libraries/components/components-main/dist-ssr
libraries/components/components-main/*.local
libraries/components/components-main/.vscode/*
libraries/components/components-main/!.vscode/extensions.json
libraries/components/components-main/.idea
libraries/components/components-main/.DS_Store
libraries/components/components-main/*.suo
libraries/components/components-main/*.ntvs*
libraries/components/components-main/*.njsproj
libraries/components/components-main/*.sln
libraries/components/components-main/*.sw?


project-boilerplate/project-dash-pwa/node_modules
project-boilerplate/project-dash-pwa/.pnp
project-boilerplate/project-dash-pwa/.pnp.js
project-boilerplate/project-dash-pwa/coverage
project-boilerplate/project-dash-pwa/.next/
project-boilerplate/project-dash-pwa/out/
project-boilerplate/project-dash-pwa/build
project-boilerplate/project-dash-pwa/.DS_Store
project-boilerplate/project-dash-pwa/*.pem
project-boilerplate/project-dash-pwa/npm-debug.log*
project-boilerplate/project-dash-pwa/yarn-debug.log*
project-boilerplate/project-dash-pwa/yarn-error.log*
project-boilerplate/project-dash-pwa/.pnpm-debug.log*
project-boilerplate/project-dash-pwa/.env.local
project-boilerplate/project-dash-pwa/.env.development
project-boilerplate/project-dash-pwa/.vercel
project-boilerplate/project-dash-pwa/*.tsbuildinfo

project-boilerplate/_e2e/test-e2e-boilerplate/node_modules
