#Base
node_modules/
yarn.lock

### helpers
# helpers-back
helpers/helpers-back/node_modules
helpers/helpers-back/coverage
helpers/helpers-back/yarn-error.log
helpers/helpers-back/dist

# helpers-front
helpers/helpers-front/node_modules
helpers/helpers-front/coverage
helpers/helpers-front/yarn-error.log
helpers/helpers-front/dist

# helpers-general
helpers/helpers-general/node_modules
helpers/helpers-general/coverage
helpers/helpers-general/yarn-error.log
helpers/helpers-general/dist

### libraries
# lib-main
libraries/components/lib-main/node_modules
libraries/components/lib-main/yarn.lock
libraries/components/lib-main/logs
libraries/components/components-main/*.log
libraries/components/lib-main/npm-debug.log*
libraries/components/lib-main/yarn-debug.log*
libraries/components/lib-main/yarn-error.log*
libraries/components/lib-main/pnpm-debug.log*
libraries/components/lib-main/lerna-debug.log*
libraries/components/lib-main/dist
libraries/components/lib-main/dist-ssr
libraries/components/lib-main/*.local
libraries/components/lib-main/.idea
libraries/components/lib-main/.DS_Store
libraries/components/lib-main/*.suo
libraries/components/lib-main/*.ntvs*
libraries/components/lib-main/*.njsproj
libraries/components/lib-main/*.sln
libraries/components/lib-main/*.sw?

### configs
libraries/configs/configs-front/node_modules
libraries/configs/configs-front/dist
libraries/configs/configs-back/node_modules

### services
# firebase
libraries/services/firebase-auth/coverage
libraries/services/firebase-auth/node_modules
libraries/services/firebase-auth/yarn-error.log
libraries/services/firebase-auth/dist

### project-boilerplate
#_e2e
project-boilerplate/_data/_e2e/test-e2e-boilerplate/node_modules

# dash-api
project-boilerplate/boilerplate-dash-api/.env
project-boilerplate/boilerplate-dash-api/node_modules/
project-boilerplate/boilerplate-dash-api/yarn.lock
project-boilerplate/boilerplate-dash-api/dist/
project-boilerplate/boilerplate-dash-api/coverage/

# dash-csr
project-boilerplate/boilerplate-dash-csr/dist
project-boilerplate/boilerplate-dash-csr/node_modules

# dash-pwa
project-boilerplate/boilerplate-dash-pwa/node_modules
project-boilerplate/boilerplate-dash-pwa/yarn.lock
project-boilerplate/boilerplate-dash-pwa/.pnp
project-boilerplate/boilerplate-dash-pwa/.pnp.js
project-boilerplate/boilerplate-dash-pwa/coverage
project-boilerplate/boilerplate-dash-pwa/.next/
project-boilerplate/boilerplate-dash-pwa/out/
project-boilerplate/boilerplate-dash-pwa/build
project-boilerplate/boilerplate-dash-pwa/.DS_Store
project-boilerplate/boilerplate-dash-pwa/*.pem
project-boilerplate/boilerplate-dash-pwa/npm-debug.log*
project-boilerplate/boilerplate-dash-pwa/yarn-debug.log*
project-boilerplate/boilerplate-dash-pwa/yarn-error.log*
project-boilerplate/boilerplate-dash-pwa/.pnpm-debug.log*
project-boilerplate/boilerplate-dash-pwa/.env.local
project-boilerplate/boilerplate-dash-pwa/.env.development
project-boilerplate/boilerplate-dash-pwa/.vercel
project-boilerplate/boilerplate-dash-pwa/*.tsbuildinfo
project-boilerplate/boilerplate-dash-pwa/firebase-debug.log
project-boilerplate/boilerplate-dash-pwa/ui-debug.log

# boilerplate-share
project-boilerplate/boilerplate-share/node_modules
